<template>
    <div class="pl-4 pr-4">
        <h1 class="ml-2">{{ $t("welcome", { user: user }) }}</h1>
        <div
            v-if="loadingFirst"
            class="fixed inset-0 flex items-center justify-center bg-black opacity-75"
        >
            <i class="text-green-500 text-6xl fas fa-spinner fa-pulse" />
        </div>
        <div v-else class="m-2">
            <!--h1> {{$t('searchHelp')}} </h1-->
            <div class="mt-2">
                <niva-list :items="parties" @selected="navigate">
                    <template #header>
                        <div
                            class="flex justify-between items-center bg-green-200 h-12"
                        >
                            <span class="font-semibold ml-4">{{
                                $t("farmers")
                            }}</span>
                            <div class="w-64 mr-4">
                                <niva-input
                                    :placeholder="$t('search') + ' ...'"
                                    v-model="search"
                                >
                                    <template #right>
                                        <i
                                            v-if="loading"
                                            class="text-green-500 fas fa-spinner fa-pulse"
                                        />
                                        <i
                                            v-else
                                            class="text-green-500 fas fa-search"
                                        />
                                    </template>
                                </niva-input>
                            </div>
                        </div>
                    </template>

                    <template #items="props">
                        <div class="grid grid-cols-3">
                            <span class="px-2 ">{{ props.item.code }}</span>
                            <span class="px-2 ">{{
                                props.item.description
                            }}</span>
                            <span class="flex px-2 text-gray-500 justify-end "
                                >&#x276F;</span
                            >
                        </div>
                    </template>
                </niva-list>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import { Debounce } from "vue-debounce-decorator";

import NivaHeader from "@/components/common/NivaHeader.vue";
import NivaInput from "@/components/common/NivaInput.vue";
import NivaList from "@/components/common/NivaList.vue";
import NivaButton from "@/components/common/NivaButton.vue";

import RegistryResource from "../../api/RegistryResource";
import { Party } from "../../api/models/Party";

@Component({
    components: {
        NivaHeader,
        NivaInput,
        NivaList,
        NivaButton
    }
})
export default class Search extends Vue {
    search: string | null = null;
    loadingFirst = true;
    loading = false;

    get parties(): Party[] {
        return this.$store.state.parties;
    }

    set parties(parties: Party[]) {
        this.$store.commit("setParties", parties);
    }

    get user(): string {
        return this.$store.getters.username;
    }

    async mounted() {
        try {
            this.$store.commit("resetCurParty");

            this.loadingFirst = false;
            this.parties = await RegistryResource.getParties(null);
            if (this.parties.length === 1) {
                this.navigate(this.parties[0]);
            }
        } catch(e) {
            //this.$store.commit("error", this.$t("err.commonErrorServer"));
        } finally {
            this.loadingFirst = false;
        }
    }

    @Watch("search")
    @Debounce(300)
    async onSearch(newVal: string) {
        this.loading = true;

        try {
            this.parties = await RegistryResource.getParties(
                newVal === "" ? null : newVal
            );
        } catch(e) {
            console.log("Error search ", e)
            //this.$store.commit("error", this.$t("err.commonErrorServer"));
        } finally {
            this.loading = false;
        }
    }

    navigate(p: Party) {
        this.$store.commit("setCurParty", p);
        this.$router.push({
            name: "myContracts",
            params: { partyId: p.id, curView: "myContracts" }
        });
    }
}
</script>
