<template>
    <div>
        <div class="m-2">
            <h1
                class="font-semibold text-xl mb-2"
            >{{$t('contractName', {name: curContractDetail.contractTypeId})}}</h1>
            <div class="flex items-start">
                <ul class="flex-grow">
                    <li>{{$t('contractId') + ": " + curContractDetail.id }}</li>
                    <li>{{$t('subscribeDate') + ": "}} {{curContractDetail.subscribtionDt | DATE }}</li>
                    <li>{{$t('statusCode')+ ": " + curContractDetail.statusCode}}</li>
                    <li>{{$t('monitoringStatus') + ": " + monitoringStatus}}</li>

                    <li class="font-semibold my-2">{{$t('eligibleAreaSummary') + ": "}}
                        <ul class="ml-4 font-normal">
                            <li>{{$t('eligibleArea') + ": "}} {{eligibleAreaSummary | AREA}}</li>
                            <li>{{$t('numberOfParcel') + ": "}} {{landUses.length}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <niva-table class="m-2" :items="landUses">
            <template #headers>
                <td class="font-semibold" v-for="h in headers" :key="h">{{h}}</td>
            </template>
            <template #items="props">
                <td>{{props.item.descr}}</td>
                <td>{{props.item.id}}</td>
                <td>{{props.item.area | AREA}}</td>
                <td>{{props.item.monitoringStatus}}</td>
            </template>
        </niva-table>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { ContractLandUse } from "../../api/models/Contract";
import ContractsResource from "../../api/ContractsResource";
import NivaHeader from "@/components/common/NivaHeader.vue";
import NivaBreadcumbs from "@/components/common/NivaBreadcumbs.vue";
import NivaTable from "@/components/common/NivaTable.vue";
import { dateToString } from "@/utils/compUtils";

@Component({
    components: {
        NivaHeader,
        NivaBreadcumbs,
        NivaTable
    },
    filters: {
        AREA(val: number) {
            return (val / 10000).toFixed(2) + " ha";
        },
        DATE(dt: Date) {
            return dateToString(dt);
        }
    }
})
export default class ContractLandUses extends Vue {
    @Prop() readonly curView!: string;
    @Prop() readonly monitoringStatus!: string;

    landUses: ContractLandUse[] = [];
    headers = this.getHeaders();

    getHeaders() {
        return [
            this.$t("description"),
            this.$tc("landUse", 1),
            this.$t("eligibleArea"),
            this.$t("outcome")
        ];
    }

    get curContractDetail() {
        return this.$store.state.curContractDetail.contract;
    }

    get eligibleAreaSummary() {
        if(this.landUses.length > 0){
            return this.landUses.reduce((a, b) => {
                return {
                    contractId: a.contractId,
                    landUseId: a.landUseId,
                    descr: a.descr,
                    area: a.area + b.area,
                    monitoringStatus: a.monitoringStatus
                };
            }).area;
        }
        return 0;
    }

    async mounted() {
        this.landUses = await ContractsResource.getContractLanduses(
            this.$store.state.curContractDetail.contract.id
        );
    }
}
</script>
