<template>
    <div>
        <div class="flex justify-between">
            <div class="ml-4 flex">
                <niva-button
                    tab
                    :selected="curView === 'myContracts'"
                    @click="navigate('myContracts')"
                    class="rounded-l-full"
                    >{{ $t("myContracts") }}</niva-button
                >
                <niva-button
                    class="rounded-r-full"
                    tab
                    :selected="curView === 'newContracts'"
                    @click="navigate('newContracts')"
                    >{{ $t("newContracts") }}</niva-button
                >
            </div>
        </div>
        <router-view class="mt-4" />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import NivaHeader from "@/components/common/NivaHeader.vue";
import NivaInput from "@/components/common/NivaInput.vue";
import NivaButton from "@/components/common/NivaButton.vue";
import NewContracts from "@/components/contracts/NewContracts.vue";
import MyContracts from "@/components/contracts/MyContracts.vue";
import { Party } from "../../api/models/Party";
import ContractsResource from "../../api/ContractsResource";

@Component({
    components: {
        NivaHeader,
        NivaInput,
        NivaButton,
        NewContracts,
        MyContracts,
    },
})
export default class Contracts extends Vue {
    curView: string | null = null;

    mounted() {
        this.curView = this.$route.params.curView;
    }

    get curParty(): Party {
        return this.$store.state.curParty;
    }

    get parties(): Party[] {
        return this.$store.state.parties;
    }

    navigate(curView: string) {
        this.curView = curView;
        this.$router.push({
            name: curView,
            params: {
                partyId: this.curParty.id,
                curView: curView,
            },
        });
    }

    async printContract(contractId: string) {
        try {
            await ContractsResource.printContract(contractId);
        } catch (error) {
            this.$toasted.show(error, { type: "error" });
        }
    }
}
</script>
