<template>
    <div>
        <div class="mx-4">
            <h1 class="font-semibold text-xl">
                {{ $t("contractName", { name: curContractDetail.type.id }) }}
            </h1>
            <div v-if="curContractDetail.contract" class="flex items-start">
                <ul class="flex-grow">
                    <li>
                        {{
                            $t("contractId") +
                                ": " +
                                curContractDetail.contract.id
                        }}
                    </li>
                    <li>
                        {{ $t("subscribeDate") + ": " }}
                        {{ curContractDetail.contract.subscribtionDt | DATE }}
                    </li>
                    <li>
                        {{ $t("subscribedBy") + ": " }}
                        {{ curContractDetail.contract.subscribedBy }}
                    </li>
                    <li>
                        {{
                            $t("statusCode") +
                                ": " +
                                $t("statusContract." + curContractDetail.contract.statusCode)
                        }}
                    </li>
                    <li>
                        {{ $t("monitoringStatus") + ": " + $t("monitoringState." + monitoringStatus) }}
                    </li>
                </ul>
            </div>
            <br>


            <div v-if="curContractDetail.contract" class="grid grid-cols-2">

                <div  class="flex justify-start">
                    <niva-button
                        v-if="payable"
                        class="mx-2"
                        @click="payContract"
                        >
                        {{$t("requestPayment")}}
                        </niva-button
                    >

                    <niva-button
                        v-if="printablePayment"
                        class="mx-2" @click="printPayment">

                        {{$t("printPayment")}}
                    </niva-button>
                </div>

                <div  class="flex justify-end">
                    <niva-button
                        v-if="withdrawable"
                        class="mx-2"
                        @click="withdrawContract">{{
                        $t("withdrawContract")
                    }}</niva-button>

                    <niva-button
                        v-if="printableContract"
                        class="mx-2"
                        @click="printContract">{{
                        $t("printContract")
                    }}</niva-button>
                </div>
            </div>

            <hr class="mt-2" />
            <br>
            <div class="my-4">
                <h2 class="font-semibold">{{ $t("messages") }}</h2>
                <p class="font-light italic mb-3">
                    {{ $t("remember-to-update-data") }}
                </p>

                <niva-el-messages
                    :messageFiltered="messageFiltered"
                ></niva-el-messages>
                <niva-quality-index :status="curContractDetail.contractMonitoringStatus" />
                <p class="italic ml-5">{{ $t("monitoringPhrase") }}</p>

                <hr class="mt-2" />
                <br>
                <niva-anomalies :anomalies="anomalies"/>
            </div>
            <niva-pdf
                v-model="urlPdf"
                v-if="showPdf"
                @close="closePdf"
            ></niva-pdf>

            <niva-modal
                :title="$t('waringBeforeWithdrawTitle')"
                v-if="openModalWarning"
                @close="openModalWarning = false"
            >
                <template #body>
                   <div class="p-5">
                       <div class="pb-5">
                           {{$t('waringBeforeWithdraw')}}
                        </div>
                        <div class="flex justify-between">
                            <niva-button @click="openModalWarning = false">
                                {{ $t("close") }}
                            </niva-button>
                            <niva-button @click="continueWithdraw">
                                {{ $t("confirm") }}
                            </niva-button>
                        </div>
                   </div>
                </template>
            </niva-modal>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import NivaHeader from "@/components/common/NivaHeader.vue";
import NivaBreadcumbs from "@/components/common/NivaBreadcumbs.vue";
import NivaButton from "@/components/common/NivaButton.vue";
import NivaElMessages from "@/components/common/NivaElMessages.vue";
import NivaQualityIndex from "@/components/common/NivaQualityIndex.vue";
import NivaPdf from "@/components/common/NivaPdf.vue";
import NivaModal from "@/components/common/NivaModal.vue";
import NivaAnomalies from "@/components/common/NivaAnomalies.vue";
import ContractsResource from "../../api/ContractsResource";
import { ContractDetail, EligibilityMessage } from "../../api/models/Contract";
import { MyContractsCached } from "@/api/cached/MyContractsCached";
import { Party } from "@/api/models/Party";
import { dateToString } from "@/utils/compUtils";
import { ContractState, MonitoringState } from "@/api/models/ContractEnumStates";

@Component({
    components: {
        NivaHeader,
        NivaBreadcumbs,
        NivaButton,
        NivaElMessages,
        NivaQualityIndex,
        NivaPdf,
        NivaModal,
        NivaAnomalies
    },
    filters: {
        DATE(dt: Date) {
            return dateToString(dt);
        }
    }
})
export default class ContractsDetails extends Vue {
    @Prop() readonly curView!: string;
    monitoringStatus: MonitoringState | null = null;
    contractStatus: ContractState | null | undefined = null
    urlPdf = "";
    showPdf = false;
    openModalWarning = false;

    async mounted() {
        this.$store.commit("loading", false);
        this.$store.commit("resetNewCurrentContractDetail");

        if (this.curContractDetail.contractMonitoringStatus) {
            this.monitoringStatus = this.curContractDetail.contractMonitoringStatus.monitoringState;
            this.contractStatus = this.curContractDetail.contract?.statusCode
        }
    }

    get payable() {
        const contractStatus = this.curContractDetail.contract?.statusCode;
        return contractStatus ? contractStatus == "PAYABLE" : false;
    }

    get printablePayment() {
        const contractStatus = this.curContractDetail.contract?.statusCode;
        return contractStatus ? (contractStatus == "PAYABLE" || contractStatus == "NOT_PAYABLE") : false;
    }

    get withdrawable() {
        return true
    }

    get printableContract() {
        return true
    }

    get anomalies(): string[] {
        if (this.curContractDetail.contractMonitoringStatus) {
            return this.curContractDetail.contractMonitoringStatus.anomalies;

        } else {
            return [];
        }
    }

    get curParty(): Party {
        return this.$store.state.curParty;
    }

    get curContractDetail(): ContractDetail {
        return this.$store.state.curContractDetail;
    }

    get messageFiltered(): EligibilityMessage[] {
        if (this.curContractDetail.contractMonitoringStatus?.messages)
            return this.curContractDetail.contractMonitoringStatus?.messages;
        else return [];
    }

    withdrawContract() {
        if (this.curContractDetail.contract) {
            this.openModalWarning = true;
        }
    }

    async continueWithdraw() {
        if (this.curContractDetail.contract) {
            try {
                (this.$store.state.myCurrentContracts as MyContractsCached).resetPartyContracts(this.curParty.id);
                await ContractsResource.updateContract(
                    this.curContractDetail.contract.id
                );
                this.$router.push({
                    name: "myContracts",
                    params: {
                        partyId: this.$store.state.curParty.id,
                        curView: "myContracts"
                    }
                });
            } catch (error) {
                this.$toasted.show(error, { type: "error" });
                this.$store.commit("error", this.$t("err.commonErrorServer"));
            }
        }
    }

    async payContract() {
        if (this.curContractDetail.contract && this.payable) {
            try {
                this.$store.commit("loading", true);
                await ContractsResource.askForPayment(
                    this.curContractDetail.contract.id
                );

                const monitoringStatus = await ContractsResource.getMonitoringStatus(
                     this.curContractDetail.contract.id
                );

                this.$store.commit("setCurrentContractDetail", {
                    type: this.curContractDetail.contract.contractTypeId,
                    eligibilityResults: monitoringStatus.eligibilityStatus,
                    contract: this.curContractDetail.contract,
                    contractMonitoringStatus: monitoringStatus,
                });
                this.$store.commit("loading", false);
            } catch (error) {
                this.$toasted.show(error, { type: "error" });
                this.$store.commit("loading", false);
                this.$store.commit("error", this.$t("err.commonErrorServer"));
            }
        }
    }

     async printPayment() {
        if (this.curContractDetail.contract && this.printablePayment) {
            this.$store.commit("loading", true);
            try {
                this.urlPdf = await ContractsResource.printPaymentContractURL(
                    this.curContractDetail.contract.id
                );
                this.$store.commit("loading", false);
                this.showPdf = true;
            } catch (error) {
                this.$store.commit("loading", false);
                console.log("Error", error)
            }
        }
    }

    async printContract() {
        if (this.curContractDetail.contract) {
            this.$store.commit("loading", true);
            try {
                this.urlPdf = await ContractsResource.printContractURL(
                    this.curContractDetail.contract.id
                );
                this.$store.commit("loading", false);
                this.showPdf = true;
            } catch (error) {
                this.$store.commit("loading", false);
                console.log("Error", error)
            }
        }
    }

    closePdf() {
        this.showPdf = false;
    }

    // async test() {
    //     if (this.curContractDetail.contract) {
    //         const monitoringStatus = await ContractsResource.getMonitoringStatus(
    //                  this.curContractDetail.contract.id
    //         );
    //         const contract: Contract = {
    //             id: this.curContractDetail.contract.id,
    //             contractTypeId: this.curContractDetail.contract.contractTypeId,
    //             partyId: this.curContractDetail.contract.partyId,
    //             partyDescription: this.curContractDetail.contract.partyDescription,
    //             subscribtionDt: this.curContractDetail.contract.subscribtionDt,
    //             subscribedBy: this.curContractDetail.contract.subscribedBy,
    //             expiryDate: this.curContractDetail.contract.expiryDate,
    //             statusCode: "PAYABLE"
    //         }
    //         const monitoringStatusFake: ContractMonitoringStatus = {
    //             contractId: monitoringStatus.contractId,
    //             monitoringState: monitoringStatus.monitoringState,
    //             eligibilityStatus: monitoringStatus.eligibilityStatus,
    //             anomalies: monitoringStatus.anomalies.concat(["ciao"]),
    //             messages: monitoringStatus.messages.concat([
    //                 {
    //                     message: "ciao",
    //                     eligibile: true,
    //                     url:"https://red-v.tv"
    //                 }
    //             ])
    //         }
    //         this.$store.commit("setCurrentContractDetail", {
    //             type: this.curContractDetail.type,
    //             eligibilityResults: monitoringStatus.eligibilityStatus,
    //             contract:contract,
    //             contractMonitoringStatus: monitoringStatusFake,
    //         });
    //     }
    // }
}
</script>
