<template>
    <div class="ml-5 mr-5">
        <div v-if="!loading && totalContracts > 0">
            <div class="flex justify-between items-end">
                <h1 v-html="$t('myContractsHelp')"></h1>
            </div>
            <div class="grid grid-cols-3">
                <div class="mt-5 mb-5 mr-5">
                    <niva-input
                        :label="$t('contractId')"
                        v-model="contractId"
                        @input="onContractChange"
                    />
                </div>
                <div class="m-5">
                    <niva-select
                        :label="$t('statusCode')"
                        :options="statusOptions"
                        v-model="statusOptionSelected"
                        @changed="onStatusCodeChange"
                    />
                </div>
                <div class="mt-5 mb-5 ml-5">
                    <niva-select
                        :label="$t('contractType')"
                        :options="contractOptions"
                        v-model="contractOptionSelected"
                        @changed="onContractType"
                    />
                </div>
            </div>
            <niva-table class="border mt-4" :items="contracts">
                <template #headers>
                    <td
                        class="tex-left font-semibold"
                        v-for="h in headers"
                        :key="h.value"
                        @click="clickHeader(h.key)"
                    >
                        <i v-if="isSortedUp(h)" class="fas fa-sort-up"></i>
                        <i v-if="isSortedDown(h)" class="fas fa-sort-down"></i>
                        {{ h.value }}
                    </td>
                </template>
                <template #items="props">
                    <td>
                        <niva-button @click="goToDetails(props.item)">{{
                            $t("details")
                        }}</niva-button>
                    </td>
                    <td>
                        <p class="w-20 md:w-40 lg:w-auto truncate">
                            {{ props.item.id }}
                        </p>
                    </td>
                    <td>{{ props.item.contractTypeId }}</td>
                    <td>{{ props.item.subscribtionDt | DATE }}</td>
                    <td>{{ props.item.expiryDate | DATE }}</td>
                    <td>
                        <div class="flex items-center">
                            <i
                                class="fas fa-info-circle mr-4 cursor-pointer text-green-900"
                                @click="openModal = true"
                            />
                            <span>{{
                                $t("statusContract." + props.item.statusCode)
                            }}</span>
                        </div>
                    </td>
                </template>
            </niva-table>
        </div>
        <div v-else class="flex justify-center">{{ $t("noContracts") }}</div>
        <niva-modal
            :title="$t('legend')"
            v-if="openModal"
            @close="openModal = false"
        >
            <template #body>
                <ul>
                    <li
                        class="mb-2 flex"
                        v-for="s in descriptionStatus"
                        :key="s"
                    >
                        <i class="text-green-900">-</i>
                        <p class="ml-4" v-html="$t(s)" />
                    </li>
                </ul>
            </template>
        </niva-modal>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import NivaTable from "@/components/common/NivaTable.vue";
import NivaButton from "@/components/common/NivaButton.vue";
import NivaModal from "@/components/common/NivaModal.vue";
import NivaInput from "@/components/common/NivaInput.vue";
import NivaSelect from "@/components/common/select/NivaSelect.vue";
import {
    Contract,
    ContractType,
    ContractMonitoringStatus,
} from "@/api/models/Contract";
import { Party } from "../../api/models/Party";
import ContractTypesResource from "../../api/ContractTypesResource";
import SelectParams from "../common/select";
import ContractsResource from "@/api/ContractsResource";
import {
  OrderByCountEnum,
    statusDescriptionKeys,
    statusKeys,
} from "@/api/models/ContractEnumStates";
import { MapHeader, SortStatus } from "@/utils/types";
import { MyContractsCached } from "@/api/cached/MyContractsCached";
import { dateToString } from "../../utils/compUtils"

type FilterChanges = {
    contractId: string;
    statusSelected: SelectParams;
    contractType: SelectParams;
    orderBy: OrderByCountEnum | null;
};

enum SearchStatus {
    SELECTED_MATCHED,
    SELECTED_UNMATCHED,
    UNSELECTED,
    SELECTED,
}

enum SortMyContracts {
    id= "id",
    contractTypeId= "contractTypeId",
    subscribtionDt= "subscribtionDt",
    expiryDate= "expiryDate",
    statusCode= "statusCode"
}

@Component({
    components: {
        NivaTable,
        NivaButton,
        NivaModal,
        NivaInput,
        NivaSelect,
    },
    filters: {
        DATE(dt: Date) {
            return dateToString(dt);
        },
    },
})
export default class MyContracts extends Vue {
    contracts: Contract[] = [];
    allContracts: Contract[] = [];
    types: ContractType[] = [];
    headers: MapHeader[] = this.getHeaders();

    totalContracts = 0;
    loading = true;
    openModal = false;

    contractStatusK = statusKeys;
    descriptionStatus = statusDescriptionKeys;

    statusOptions: SelectParams[] = [];

    contractOptions: SelectParams[] = [];

    filterChange: FilterChanges = {
        contractId: "",
        contractType: {} as SelectParams,
        statusSelected: {} as SelectParams,
        orderBy: null
    };

    async updateContracts() {
        try {
            this.allContracts = await this.myContractsCached.getContracts(this.curParty.id);            
        } catch (error) {
            console.log("Error update current contracts")
            this.allContracts = [];
        }
    }

    get contractId() {
        return this.filterChange.contractId;
    }

    set contractId(value: string) {
        this.filterChange.contractId = value;
    }

    get contractOptionSelected() {
        return this.filterChange.contractType;
    }

    set contractOptionSelected(p: SelectParams) {
        this.filterChange.contractType = p;
    }

    get statusOptionSelected() {
        return this.filterChange.statusSelected;
    }

    set statusOptionSelected(p: SelectParams) {
        this.filterChange.statusSelected = p;
    }

    get curParty(): Party {
        return this.$store.state.curParty;
    }

    get myContractsCached(): MyContractsCached {
        return this.$store.state.myCurrentContracts
    }

    getHeaders(): MapHeader[] {
        return [
            { 
                key: "",
                value: "", 
                sort: SortStatus.UNSELECTED ,
                class:""
            },
            { 
                key: SortMyContracts.id,
                value: this.$t("contractId"), 
                sort: SortStatus.UNSELECTED,
                class:""
            },
            { 
                key: SortMyContracts.contractTypeId,
                value: this.$t("contractType"),
                sort: SortStatus.UNSELECTED ,
                class:""
            },
            { 
                key: SortMyContracts.subscribtionDt,
                value: this.$t("subscribeDate"),
                sort: SortStatus.UNSELECTED ,
                class:""
            },
            { 
                key: SortMyContracts.expiryDate,
                value: this.$t("expiryDate"),
                 sort: SortStatus.UNSELECTED,
                class:"" 
             },
            { 
                key: SortMyContracts.statusCode,
                value:this.$t("statusCode") + " (" + new Date().getFullYear() + ")", 
                sort: SortStatus.UNSELECTED,
                class:""
            }
        ];
    }

    isSortedUp(h: MapHeader) {
        if (h.key == "") return false;
        return h.sort == SortStatus.UP;
    }

    isSortedDown(h: MapHeader) {
        if (h.key == "") return false;
        return h.sort == SortStatus.DOWN;
    }

    setSortHead(key: string | null) {
        this.headers.forEach((head: MapHeader) => {
            if (head.key == key) {
                if (head.sort == SortStatus.UP) {
                    head.sort = SortStatus.DOWN;
                } else {
                    head.sort = SortStatus.UP;
                }
            } else {
                head.sort = SortStatus.UNSELECTED;
            }
        });
    }

    clickHeader(key: string) {
        let orderBy: string | null = key;
        switch (key) {
            case SortMyContracts.id:
                orderBy = "id";
                this.setSortHead(key);

                break;
            case SortMyContracts.contractTypeId:
                orderBy = "contractTypeId";
                this.setSortHead(key);
                break;
            case SortMyContracts.subscribtionDt:
                orderBy = "subscribtionDt";
                this.setSortHead(key);
                break;
            case SortMyContracts.statusCode:
                orderBy = "statusCode";
                this.setSortHead(key);
                break;

            case SortMyContracts.expiryDate:
                orderBy = "expiryDate";
                this.setSortHead(key);
                break;
            default:
                orderBy = null;
                this.setSortHead(null);
                break;
        }

        this.filterChange.orderBy = orderBy as OrderByCountEnum;
        if (this.filterChange) this.sortContracts();
    }

    async mounted() {
        try {
            this.$store.commit('loading', true);
            await this.updateContracts();
            this.types = await ContractTypesResource.getCTypes();
       
            this.contracts = [...this.allContracts];

            this.contractOptions = this.types.map((t) => {
                return {
                    value: t.id,
                    label: t.id,
                };
            });

            this.statusOptions = statusKeys.map((t) => {
                return {
                    value: t,
                    label: this.$t(`statusContract.${t}`).toString(),
                };
            });

            this.contractOptions.push({
                value: "all",
                label: "",
            });

            this.statusOptions.push({
                value: "all",
                label: "",
            });

            this.loading = false;
            this.totalContracts = this.allContracts.length;
        } finally {
            this.$store.commit('loading', false);
        }
    }

    async goToDetails(contract: Contract) {
        try {
            this.$store.commit("loading", true);
            const monitoringStatus: ContractMonitoringStatus = await ContractsResource.getMonitoringStatus(
                contract.id
            );

            this.$store.commit("setCurrentContractDetail", {
                type: this.types.find((t) => t.id === contract.contractTypeId),
                eligibilityResults: monitoringStatus.eligibilityStatus,
                contract: contract,
                contractMonitoringStatus: monitoringStatus,
            });

            this.$router.push({
                name: "ContractsDetails",
                params: {
                    partyId: this.curParty.id,
                    curView: "myContracts",
                    curContract: contract.contractTypeId,
                },
            });
        } catch (error) {
            this.$store.commit("loading", false);
        }
    }

    onContractChange(value: any) {
        this.filterChange.contractType = value;
        this.filterContracts();
    }

    onStatusCodeChange(value: SelectParams) {
        this.filterChange.statusSelected = value;
        this.filterContracts();
    }

    onContractType(value: SelectParams) {
        this.filterChange.contractType = value;
        this.filterContracts();
    }

    isAllUnselected(searchValue: SearchStatus[]): boolean {
        const v: SearchStatus | undefined=  searchValue.find((v) => {
            return v != SearchStatus.UNSELECTED
        })
        return v == undefined
    }

    isAllSelected(searchValue: SearchStatus[]): boolean {
        const v: SearchStatus | undefined=  searchValue.find((v) => {
            return v != SearchStatus.SELECTED
        })
        return v == undefined

    }

    isAllMatched(searchValue: SearchStatus[]): boolean {
        const v: SearchStatus | undefined=  searchValue.find((v) => {
            return v != SearchStatus.SELECTED_MATCHED
        })
        return v == undefined
    }

    computedMatched(searchValue: SearchStatus[], searchInit: SearchStatus[]): boolean {
        let result = false;
        if (searchValue.length != searchInit.length) {
            return false
        } else {
            let out = false!
            for (let i = 0; i < searchInit.length && !out; i++) {
                const s = searchInit[i];
                if (s == SearchStatus.SELECTED) {
                    if (searchValue[i] == SearchStatus.SELECTED_MATCHED) {
                        result = true;
                    } else {
                        result = false;
                        out = true;
                    }
                }
            }
        }
        return result;
    }

    filterContracts() {
        this.contracts = [];
        let initialContractTypeSearch = SearchStatus.UNSELECTED;
        let initialContractStatusSearch = SearchStatus.UNSELECTED;
        let initialContractIdSearch = SearchStatus.UNSELECTED;
        
        if (this.filterChange.contractId && this.filterChange.contractId != "") {
            initialContractIdSearch = SearchStatus.SELECTED
        }

        if (this.filterChange.contractType && this.filterChange.contractType.value && this.filterChange.contractType.value != "" && this.filterChange.contractType.value != "all") {
            initialContractTypeSearch = SearchStatus.SELECTED;
        }

        if (this.filterChange.statusSelected && this.filterChange.statusSelected.value && this.filterChange.statusSelected.value != "" && this.filterChange.statusSelected.value != "all") {
            initialContractStatusSearch = SearchStatus.SELECTED;
        }

        const searchValueInit = [initialContractTypeSearch, initialContractStatusSearch, initialContractIdSearch];

        if (this.isAllUnselected(searchValueInit)) {
            this.contracts = [...this.allContracts]
        } else {
            this.allContracts.forEach((a: Contract) => {
                let contractTypeSearch = initialContractTypeSearch;
                let contractStatusSearch = initialContractStatusSearch;
                let contractIdSearch = initialContractIdSearch;

                if (initialContractIdSearch == SearchStatus.SELECTED) {
                    contractIdSearch = a.id.search(this.filterChange.contractId) > -1 ? SearchStatus.SELECTED_MATCHED : SearchStatus.SELECTED_UNMATCHED;
                }

                if (initialContractTypeSearch == SearchStatus.SELECTED) {
                    contractTypeSearch = a.contractTypeId == this.filterChange.contractType.value? SearchStatus.SELECTED_MATCHED : SearchStatus.SELECTED_UNMATCHED;
                }

                if (initialContractStatusSearch == SearchStatus.SELECTED) {
                    contractStatusSearch = a.statusCode == this.filterChange.statusSelected.value ? SearchStatus.SELECTED_MATCHED : SearchStatus.SELECTED_UNMATCHED;
                }
                const searchValue = [contractTypeSearch, contractStatusSearch, contractIdSearch];
                if (this.isAllSelected(searchValueInit) && this.isAllMatched(searchValue)) {                
                    this.contracts.push(a);
                } else if (this.computedMatched(searchValue, searchValueInit)) {
                    this.contracts.push(a);
                }
            });
        }
    }

    sortContracts() {
        const key = this.filterChange.orderBy as string
        if (key) {
            const h = this.findHeader(key)
            switch(key) {
                case SortMyContracts.id:
                    this.contracts = this.contracts.sort((a: Contract, b: Contract) => {
                        
                        if (h && h.sort == SortStatus.DOWN) 
                            return b.id.localeCompare(a.id);
                        else 
                            return a.id.localeCompare(b.id);
                    })                     
                break;
                case SortMyContracts.contractTypeId:
                    this.contracts = this.contracts.sort((a: Contract, b: Contract) => {
                        if (h && h.sort == SortStatus.DOWN) 
                            return b.contractTypeId.localeCompare(a.contractTypeId);
                        else
                            return a.contractTypeId.localeCompare(b.contractTypeId);
                    })  
                break;
                case SortMyContracts.subscribtionDt: 
                    this.contracts = this.contracts.sort((a: Contract, b: Contract) => {
                        if (h && h.sort == SortStatus.DOWN) {
                            return b.subscribtionDt.getTime() - a.subscribtionDt.getTime();
                        } else {
                            return  a.subscribtionDt.getTime() - b.subscribtionDt.getTime();
                        }
                            
                    }) 
                break;
                case SortMyContracts.expiryDate: 
                    this.contracts = this.contracts.sort((a: Contract, b: Contract) => {
                        if (h && h.sort == SortStatus.DOWN) {
                            return b.expiryDate.getTime() - a.expiryDate.getTime();
                        } else {
                            return  a.expiryDate.getTime() - b.expiryDate.getTime();
                        }
                            
                    }) 
                break;
                case SortMyContracts.statusCode:
                    this.contracts = this.contracts.sort((a: Contract, b: Contract) => {
                        if (h && h.sort == SortStatus.DOWN)
                            return b.statusCode.localeCompare(a.statusCode);
                        else
                            return a.statusCode.localeCompare(b.statusCode);
                    })  
                break;
                default:
                break;
            }
        }

    }

    findHeader(key: string | null): MapHeader | undefined {
        return this.headers.find((head: MapHeader) => {
            return head.key == key
        });
    }

}
</script>
