<template>
    <div>
        <div class="mx-4">
            <h1 class="font-semibold text-xl">
                {{ $t("contractName", { name: curNewContractDetail.type.id }) }}
            </h1>

            <p>{{ $t("contractDetailsHelp") }}</p>

            <hr class="mt-2" />
            <div class="my-4">
                <h2 class="font-semibold">{{ $t("messages") }}</h2>
                <p class="font-light italic mb-3">
                    {{ $t("remember-to-update-data") }}
                </p>
                <niva-el-messages :messageFiltered="messageFiltered"></niva-el-messages>
            </div>

            <p class="italic ml-5">{{ $t("monitoringPhrase") }}</p>

            <hr class="mt-2" />
            <div v-if="isEligibiltyEnabled" class="my-4">
                <input type="checkbox" id="checkboxAgree" v-model="agree" />
                <label for="checkboxAgree" class="pl-2">{{
                    $t("agreePhrase")
                }}</label>
            </div>

            <div class="flex justify-center my-4">
                <niva-button :enabled="agree" @click="accept">{{
                    $t("subscribe")
                }}</niva-button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import NivaHeader from "@/components/common/NivaHeader.vue";
import NivaBreadcumbs from "@/components/common/NivaBreadcumbs.vue";
import NivaButton from "@/components/common/NivaButton.vue";
import NivaModal from "@/components/common/NivaModal.vue";
import NivaElMessages from "@/components/common/NivaElMessages.vue";
import ContractsResource from "../../api/ContractsResource";
import {
    ContractDetail,
  ContractOut,
  ContractTypeEligibilityResult,
    EligibilityMessage
} from "../../api/models/Contract";
import { dateToString } from "@/utils/compUtils";
import { EligibilityStatus } from "@/api/models/ContractEnumStates";

@Component({
    components: {
        NivaHeader,
        NivaBreadcumbs,
        NivaButton,
        NivaModal,
        NivaElMessages
    },
    filters: {
        DATE(dt: Date) {
            return dateToString(dt);
        }
    }
})
export default class NewContractDetails extends Vue {
    @Prop() readonly curView!: string;
    monitoringStatus: string | null = null;
    agree = false;
    openModal = false;
    currentLink: string | null = null;

    get curNewContractDetail(): ContractDetail {
        return this.$store.state.curNewContractDetail;
    }

    get eligibilityResult(): ContractTypeEligibilityResult | undefined {
        return this.curNewContractDetail.eligibilityResults;
    }

    get messageFiltered(): EligibilityMessage[] {
        if (this.curNewContractDetail.eligibilityResults?.messages) 
            return this.curNewContractDetail.eligibilityResults?.messages
        else
            return []
    }

    get isEligibiltyEnabled(): boolean {
        try {
            if (this.eligibilityResult && (this.eligibilityResult?.eligibilityStatus == "GREEN" as EligibilityStatus ||
            this.eligibilityResult?.eligibilityStatus == "YELLOW" as EligibilityStatus))
                return true
            else
                return false;
        } catch (error) {
            return false;
        }        
    }

    async accept() {
        this.$store.commit("loading", true);
        try {
            if (this.isEligibiltyEnabled && this.agree) {
                const contractCreated: ContractOut = await ContractsResource.createContract(
                    this.curNewContractDetail.type.id,
                    this.$store.state.curParty.id
                );            
                
                this.curNewContractDetail.contract = {
                    id: contractCreated.id,
                    contractTypeId: contractCreated.contractTypeId,
                    partyId: contractCreated.partyId,
                    partyDescription: contractCreated.partyDescription,
                    subscribtionDt: contractCreated.subscribtionDt,
                    subscribedBy: contractCreated.subscribedBy,
                    statusCode: contractCreated.statusCode,
                    expiryDate: contractCreated.expiryDate
                };

                this.$router.push({
                    name: "NewContractSubscribed",
                    params: {
                        partyId: this.$store.state.curParty.id,
                        curView: "NewContractSubscribed"
                    }
                });
            } else {
                this.$store.commit("loading", false);
                if (!this.isEligibiltyEnabled) {
                    const noSelectInfo: string = this.$t(
                        "err.noSelectInfo"
                    ).toString();
                    this.$toasted.show(noSelectInfo, { type: "warn" });
                }
            }
        } catch (error) {
            this.$store.commit("loading", false);
            this.$toasted.show(error, { type: "error" });
        }
    }
    openLink(link: string) {
        this.currentLink = link;
        this.openModal = true;
    }
}
</script>
