<template>
    <div>       
        <router-view class="mt-4" />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class NewContract extends Vue {
    curView: string | null = null;
}
</script>
