<template>
    <div>
        <div class="mx-4">
            <div class="my-4">
                <h2 class="font-semibold">
                    {{ $t("messageSubscribeHeader") }}
                </h2>
                <h2 class="font">
                    <span> {{ $t("messageSubscribeFirst") }} </span>
                    <a class="custom_a font-semibold" @click="navigate">{{
                        contractId
                    }}</a>
                    <span> {{ $t("messageSubscribeLast") }} </span>
                </h2>
            </div>
            <div class="my-4">
                <p v-html="curNewContractDetail.type.termsCond" />
            </div>
            <br />
            <div class="flex justify-center my-4 pt-10 mt-10">
                <niva-button @click="goBack">{{
                    $t("backMyExpression")
                }}</niva-button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { ContractDetail, ContractMonitoringStatus } from "@/api/models/Contract";
import { Component, Vue } from "vue-property-decorator";
import NivaButton from "@/components/common/NivaButton.vue";
import { Party } from "@/api/models/Party";
import { MyContractsCached } from "@/api/cached/MyContractsCached";
import ContractsResource from "@/api/ContractsResource";

@Component({
    components: {
        NivaButton
    }
})
export default class NewContractDetails extends Vue {
    curView: string | null = null;
    contractId = ""

    mounted() {
        this.$store.commit("loading", false);  
        (this.$store.state.myCurrentContracts as MyContractsCached).resetPartyContracts(this.curParty.id);
        this.curView = this.$route.params.curView;
        if (this.curNewContractDetail.contract) {
            this.contractId = this.curNewContractDetail.contract.id;
        }  
    }


    async goBack() {
        this.$router.push({
            name: "myContracts",
            params: {
                partyId: this.curParty.id,
                curView: "myContracts"
            }
        });
    }

    get curNewContractDetail(): ContractDetail {       
        return this.$store.state.curNewContractDetail;
    }

    
    get curParty(): Party {
        return this.$store.state.curParty;
    }

    async navigate() {
        this.$store.commit("loading", true);
        try {
            const monitoringStatus: ContractMonitoringStatus = await ContractsResource.getMonitoringStatus(
                this.contractId
            );
            this.$store.commit("setCurrentContractDetail", {
                type: this.curNewContractDetail.type,
                eligibilityResults: monitoringStatus.eligibilityStatus,
                contract: this.curNewContractDetail.contract,
                contractMonitoringStatus: monitoringStatus,
            });
            const contractTypeId = this.curNewContractDetail.contract ? this.curNewContractDetail.contract.contractTypeId : ""

            this.$router.push({
                name: "ContractsDetails",
                params: {
                    partyId: this.curParty.id,
                    curView: "myContracts",
                    curContract: contractTypeId,
                },
            });
        } catch (error) {
            this.$store.commit("loading", false);
            console.log("Error", error);            
        }
    }
}
</script>

<style scoped>
.custom_a {
    cursor: pointer;
    text-decoration: underline;
}
</style>
