<template>
    <div class="ml-5 mr-5">
        <h1>{{ $t("newContractsHelp") }}</h1>
        <div class="mt-5 border">
            <niva-table :items="types">
                <template #headers>
                    <td
                        class="font-semibold"
                        :class="
                            index === headers.length - 1
                                ? 'text-center'
                                : 'text-left'
                        "
                        v-for="(h, index) in headers"
                        :key="h"
                    >
                        {{ h }}
                    </td>
                </template>
                <template #items="props">
                    <td>
                        <niva-button v-bind:enabled="isEnabled(props.item.eligible)"  @click="goToDetails(props.item)">{{
                            $t("sub")
                        }}</niva-button>
                    </td>
                    <td>{{ props.item.id }}</td>
                    <td>{{ getDate(props.item.subscribeFrom) | DATE }}</td>
                    <td>{{ getDate(props.item.subscribeTo) | DATE }}</td>
                    <td class="text-center">
                        <i
                            v-if="props.item.eligible === 'GREEN'"
                            class="fas fa-check text-green-500"
                        />
                        <i
                            v-else-if="props.item.eligible === 'RED'"
                            class="fas fa-times text-red-500"
                        />
                        <i
                            v-else-if="props.item.eligible === 'YELLOW'"
                            class="fas fa-exclamation-triangle text-yellow-500"
                        />
                        <i
                            v-else
                            class="fas text-green-500 fa-spinner fa-pulse"
                        />
                    </td>
                </template>
            </niva-table>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import NivaTable from "@/components/common/NivaTable.vue";
import NivaButton from "@/components/common/NivaButton.vue";
import ContractTypesResource from "@/api/ContractTypesResource";
import {
    ContractType,
    ContractTypeEligibilityResult
} from "@/api/models/Contract";
import { TranslateResult } from "vue-i18n";
import { Party } from "../../api/models/Party";

@Component({
    components: {
        NivaTable,
        NivaButton
    },
    filters: {
        DATE(val: Date) {
            return val.toLocaleString().split(",")[0];
        }
    }
})
export default class NewContracts extends Vue {
    types: ContractType[] = [];
    headers: TranslateResult[] = this.getHeaders();
    eligibilityResults: ContractTypeEligibilityResult[] = [];

    get curParty(): Party {
        return this.$store.state.curParty;
    }

    getHeaders(): TranslateResult[] {
        return [
            "",
            this.$t("contractType"),
            this.$t("openDate"),
            this.$t("closeDate"),
            this.$t("eligible")
        ];
    }

    async mounted() {
        this.types = await ContractTypesResource.getCTypes();

        let res: ContractTypeEligibilityResult[] = [];
        try {
            const typesSanitized: any = {};
            this.types.forEach(c => {
                typesSanitized[c.id] = c;
            });

            res = await ContractTypesResource.isEligible(
                this.curParty.id,
                Object.keys(typesSanitized)
            );
       
            this.types = this.types.map(t => {
                const c: ContractTypeEligibilityResult | undefined = res.find(
                    r => r.contractTypeId === t.id
                );
                if (c) {
                    t.eligible = c.eligibilityStatus;
                }

                return t;
            });
            this.eligibilityResults = res;

        } catch (error) {
            console.log("Error isEligible", error);
        }
    }

    isEnabled(v: string | undefined | null) {
        if (v === 'GREEN' || v === 'YELLOW' || v === 'RED')
            return true;
        return false;
    }

    goToDetails(type: ContractType) {
        
        const eligibilityResult: ContractTypeEligibilityResult | undefined = this.eligibilityResults.find(
            er => er.contractTypeId === type.id
        );
        const value = eligibilityResult?.eligibilityStatus;

        if (!this.isEnabled(value)) {
            return;
        }
        
        if (eligibilityResult && (eligibilityResult.eligibilityStatus == "GREEN" || eligibilityResult.eligibilityStatus == "YELLOW")) {
            this.$store.commit("setCurrentNewContractDetail", {
                type: type,
                eligibilityResults: eligibilityResult
            });
            
            this.$router.push({
                name: "NewContractDetails",
                params: {
                    partyId: this.$store.state.curParty.id,
                    curView: "newContracts",
                    curContract: type.id
                }
            });
        } else {
            this.$store.commit("error", this.$t("err.eligibilityBlocked"));
        }
    }

    getDate(date: Date | null) {
        if (date == null) 
            return "";
        else 
            return date;
    }
}
</script>
