<template>
    <div>
        <niva-loader v-if="loading"></niva-loader>
        <niva-error v-if="showingError" v-bind:msg="msgError"></niva-error>
        <niva-header v-if="user">
            <template #left>
                <niva-breadcumbs></niva-breadcumbs>
            </template>
            <template #right>
                <span v-if="curParty.id" class="font-semibold">{{curParty.code + " - " + curParty.description}}</span>
            </template>
        </niva-header>
        <router-view />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import NivaHeader from "@/components/common/NivaHeader.vue";
import NivaBreadcumbs from "@/components/common/NivaBreadcumbs.vue";
import NivaLoader from "@/components/common/NivaLoader.vue";
import NivaError from "@/components/common/NivaError.vue";

@Component({
    components: {
        NivaHeader,
        NivaBreadcumbs,
        NivaLoader,
        NivaError
    }
})
export default class Home extends Vue {

    get showingError() {
        return this.$store.state.error.showing;
    }

    get msgError() {
        return this.$store.state.error.msg;
    }

    get loading() {
        return this.$store.state.loading;
    }

    get curParty(){
        return this.$store.state.curParty;
    }

    get user(){
        return this.$store.state.user;
    }
}
</script>

