<template>
    <div>
        <router-view />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class AdminContent extends Vue {
    curView: string | null = null;
}
</script>
