<template>
    <div class="ml-5">
        <h1 class="mb-5">{{ $t("welcome", { user: user.username }) }}</h1>
        <div class="grid grid-cols-3">
            <niva-button @click="navigate">
                {{ $t("contracts") }}
            </niva-button>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";

import NivaButton from "@/components/common/NivaButton.vue";

@Component({
    components: {
        NivaButton
    }
})
export default class AdminMenu extends Vue {
    get user() {
        return this.$store.state.user;
    }

    navigate() {
        this.$router.push({
            name: "allContracts",
            params: { curView: "allContracts" }
        });
    }
}
</script>
