<template>
    <div class="ml-2">
        <div class="mx-4">
            <h1 class="font-semibold text-xl">
                {{
                    $t("contractName", { name: curContractDetail.contract.id })
                }}
            </h1>
            <div v-if="curContractDetail.contract" class="flex items-start">
                <ul class="flex-grow">
                    <li>
                        {{
                            $t("contractId") +
                                ": " +
                                curContractDetail.contract.id
                        }}
                    </li>
                    <li>
                        {{
                            $t("businessName") +
                                ": " +
                                curContractDetail.contract.partyId
                        }}
                    </li>
                    <li>
                        {{ $t("subscribeDate") + ": " }}
                        {{ curContractDetail.contract.subscribtionDt | DATE }}
                    </li>
                    <li>
                        {{
                            $t("statusCode") +
                                ": " +
                                $t("statusContract." + curContractDetail.contract.statusCode)
                        }}
                    </li>
                    <li>
                        {{ $t("monitoringStatus") + ": " +  $t("monitoringState." + monitoringStatus) }}
                    </li>
                </ul>
            </div>

            <br>

            <div class="grid grid-cols-2">
                <div  class="flex justify-start">
                    <niva-button
                        v-if="printablePayment"
                        class="mx-2" @click="printPayment">

                        {{$t("printPayment")}}
                    </niva-button>
                    <hr class="mt-2" />
                </div>

                <div  class="flex justify-end">
                    <niva-button
                        class="mx-2"
                        @click="printContract()">
                        {{ $t("printContract") }}
                    </niva-button>
                </div>
            </div>

            <hr class="mt-2 ml-2" />
            <br>

            <div class="my-4">
                <div v-if="messageFiltered.length > 0">
                    <h2 class="font-semibold">{{ $t("messages") }}</h2>
                    <p class="font-light italic mb-3">
                        {{ $t("remember-to-update-data") }}
                    </p>
                    <niva-el-messages
                        :messageFiltered="messageFiltered"
                    >
                    </niva-el-messages>
                    <niva-quality-index :status="contractMonitoringStatus" />
                     <hr class="mt-2" />
                </div>

                <niva-anomalies :anomalies="anomalies"/>
            </div>

        </div>
        <niva-pdf v-model="urlPdf" v-if="showPdf" @close="closePdf"></niva-pdf>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import NivaHeader from "@/components/common/NivaHeader.vue";
import NivaBreadcumbs from "@/components/common/NivaBreadcumbs.vue";
import NivaButton from "@/components/common/NivaButton.vue";
import NivaElMessages from "@/components/common/NivaElMessages.vue";
import NivaQualityIndex from "@/components/common/NivaQualityIndex.vue";
import NivaPdf from "@/components/common/NivaPdf.vue";
import ContractsResource from "../../api/ContractsResource";
import NivaAnomalies from "@/components/common/NivaAnomalies.vue";
import {
    ContractDetail,
    ContractMonitoringStatus,
    EligibilityMessage
} from "../../api/models/Contract";
import { dateToString } from "@/utils/compUtils";

@Component({
    components: {
        NivaHeader,
        NivaBreadcumbs,
        NivaButton,
        NivaElMessages,
        NivaQualityIndex,
        NivaPdf,
        NivaAnomalies
    },
    filters: {
        DATE(dt: Date) {
            return dateToString(dt);
        }
    }
})
export default class AdminContractsDetails extends Vue {
    @Prop() readonly curView!: string;
    monitoringStatus: string | null = null;
    contractMonitoringStatus: ContractMonitoringStatus | null = null;
    urlPdf = "";
    showPdf = false;

    async mounted() {
        this.$store.commit("loading", false);
        if (this.curContractDetail.contractMonitoringStatus) {
            this.contractMonitoringStatus = this.curContractDetail.contractMonitoringStatus
            this.monitoringStatus = this.contractMonitoringStatus.monitoringState;
        }
    }

    get curContractDetail(): ContractDetail {
        return this.$store.state.currAdminContractDetail;
    }

    get messageFiltered(): EligibilityMessage[] {
        if (this.contractMonitoringStatus)
            return this.contractMonitoringStatus.messages;
        else return [];
    }

    get anomalies(): string[] {
        if (this.curContractDetail.contractMonitoringStatus) {
            return this.curContractDetail.contractMonitoringStatus.anomalies;

        } else {
            return [];
        }
    }

    get printablePayment() {
        const contractStatus = this.curContractDetail.contract?.statusCode;
        return contractStatus ? (contractStatus == "PAYABLE" || contractStatus == "NOT_PAYABLE") : false;
    }

    async printContract() {
        if (this.curContractDetail.contract) {
            this.$store.commit("loading", true);
            try {
                this.urlPdf = await ContractsResource.printContractURL(
                    this.curContractDetail.contract.id
                );
                this.showPdf = true;
                this.$store.commit("loading", false);
            } catch (error) {
                console.log("printContract", error);
                this.$store.commit("loading", false);
            }
        }
    }

    async printPayment() {
        if (this.curContractDetail.contract && this.printablePayment) {
            this.$store.commit("loading", true);
            try {
                this.urlPdf = await ContractsResource.printPaymentContractURL(
                    this.curContractDetail.contract.id
                );
                this.$store.commit("loading", false);
                this.showPdf = true;

            } catch (error) {
                this.$store.commit("loading", false);
                console.log("Error", error)
            }
        }
    }

    closePdf() {
        this.showPdf = false;
    }
}
</script>
