<template>
    <div class="ml-5 mr-5">
        <div class="grid grid-cols-2">
            <div class="mt-5 mb-5 mr-5">
                <niva-input
                    :label="$t('contractId')"
                    v-model="contractId"
                    @input="onContractChange"
                />
            </div>
            <div class="mt-5 mb-5 ml-5">
                <niva-input
                    :label="$t('businessName')"
                    v-model="businessName"
                    @input="onBusinessNameChange"
                />
            </div>
            <div class="mt-5 mb-5 mr-5">
                <niva-select
                    :label="$t('statusCode')"
                    :options="statusOptions"
                    v-model="statusOptionSelected"
                    @changed="onStatusCodeChange"
                />
            </div>
            <div class="mt-5 mb-5 ml-5">
                <niva-select
                    :label="$t('contractType')"
                    :options="contractOptions"
                    v-model="contractOptionSelected"
                    @changed="onContractType"
                />
            </div>
        </div>
        <div
            v-if="loading"
            class="fixed inset-0 flex items-center justify-center bg-black opacity-75"
        >
            <i class="text-green-500 text-6xl fas fa-spinner fa-pulse" />
        </div>
        <niva-table v-else class="border mt-4" :items="contracts">
            <template #options>
                <div class="grid grid-cols-2">
                    <div class="p-2"> 
                        <span class="ml-1"> {{ $t("numberOfRowsPref")}} </span>
                        <select class="ml-1 mr-2" v-model="selected" @change="numberRowChange">
                            <option 
                            v-for="(option, index) in options" 
                            :key="index" 
                            :value="option">{{option.id}}</option>
                        </select>
                        
                        <span class="mr-1"> {{ $t("numberOfRowsSuff")}} </span>
                    </div>
                </div> 
            </template>
            <template #headers>
                <td
                    class="tex-left font-semibold"
                    v-for="h in headers"
                    :key="h.value"
                    @click="clickHeader(h.key)"
                    :class="h.class"
                >
                    <i v-if="isSortedUp(h)" class="fas fa-sort-up"></i>
                    <i v-if="isSortedDown(h)" class="fas fa-sort-down"></i>
                    {{ h.value }}
                </td>
            </template>
            <template #items="props">
                <td>
                    <niva-button @click="goToDetails(props.item)">{{
                        $t("details")
                    }}</niva-button>
                </td>
                <td>
                    <p class="w-20 md:w-40 lg:w-auto truncate">
                        {{ props.item.id }}
                    </p>
                </td>
                <td>
                    <div class="flex flex-col">
                        <span>
                            {{ props.item.partyId }}
                        </span>
                        <hr/>
                        <span>
                            {{ props.item.partyDescription }}
                        </span>
                    </div>
                </td>
                <td>{{ props.item.contractTypeId }}</td>
                <td>{{ props.item.subscribtionDt | DATE }}</td>
                <td>{{ props.item.expiryDate | DATE }}</td>
                <td>
                    <div class="flex items-center">
                        <i
                            class="fas fa-info-circle mr-4 cursor-pointer text-green-900"
                            @click="openModal = true"
                        />
                        <span>{{ $t('statusContract.'+ props.item.statusCode) }}</span>
                    </div>
                </td>
            </template>
            <template #footer>
                <tr>
                    <td>
                        <div class="m-2 left-0">
                        {{ $t('itemShowing', 
                            {
                                lower: lowerString,
                                upper: upperString,
                                total: total
                            }
                        )}} 
                        </div>
                    </td>
                    <td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="flex justify-end">
                            <niva-button 
                                :enabled="backEnabled"
                                class="mr-2" 
                                @click="back">
                                {{ $t("backPagination") }}
                            </niva-button>
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-start">
                            <niva-button
                                :enabled="nextEnabled"
                                class="ml-2" 
                                @click="next"
                                >
                                {{ $t("nextPagination") }}
                            </niva-button>
                        </div>
                    </td>
                </tr>
            </template>
        </niva-table>

        <niva-modal
            :title="$t('legend')"
            v-if="openModal"
            @close="openModal = false"
        >
            <template #body>
                <ul>
                    <li class="mb-2 flex" v-for="s in descriptionStatus" :key="s">
                        <i class="text-green-900">-</i>
                        <p class="ml-4" v-html="$t(s)" />
                    </li>
                </ul>
            </template>
        </niva-modal>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import NivaTable from "@/components/common/NivaTable.vue";
import NivaButton from "@/components/common/NivaButton.vue";
import NivaModal from "@/components/common/NivaModal.vue";
import NivaInput from "@/components/common/NivaInput.vue";
import NivaSelect from "@/components/common/select/NivaSelect.vue";
import PAContractsResource from "@/api/PAContractsResource";
import { Contract, ContractMonitoringStatus, ContractType } from "@/api/models/Contract";
import { Party } from "../../api/models/Party";
import SelectParams from "../common/select";
import { Paginated, ParamPaginated } from "@/api/models/Datatable";
import { OrderByCountEnum, OrderDirEnum, statusDescriptionKeys, statusKeys } from "@/api/models/ContractEnumStates";
import ContractsResource from "@/api/ContractsResource";
import { MapHeader, SortStatus } from "@/utils/types";
import ContractTypesResource from "@/api/ContractTypesResource";
import { dateToString } from "@/utils/compUtils";

const toDatatableParam = (
    filterChanges: FilterChanges
): ParamPaginated | null => {
    try {
        const paramPaginated = {} as ParamPaginated;
        if (filterChanges.contractId) {
            paramPaginated.contractId = filterChanges.contractId;
        }

        if (
            filterChanges.statusSelected &&
            filterChanges.statusSelected.value && filterChanges.statusSelected.value != ""
        ) {
            paramPaginated.status = filterChanges.statusSelected.value;
        } else {
            paramPaginated.status = undefined
        }

        if (
            filterChanges.contractSelected &&
            filterChanges.contractSelected.value && filterChanges.contractSelected.value != ""
        ) {
            paramPaginated.contractTypeId =
                filterChanges.contractSelected.value;
        } else {
            paramPaginated.contractTypeId = undefined
        }

        if (filterChanges.businessName && filterChanges.businessName != "") {
            paramPaginated.farm = filterChanges.businessName;
        } else 
            paramPaginated.farm = undefined

        if (filterChanges.orderBy) {
            paramPaginated.orderBy = filterChanges.orderBy;
        }

        if (filterChanges.orderDir) {
            paramPaginated.orderDir = filterChanges.orderDir
        }

        if (filterChanges.count) {
            paramPaginated.count = filterChanges.count
        }

        if (filterChanges.offset) {
            paramPaginated.offset = filterChanges.offset
        }

        return paramPaginated;
    } catch (error) {
        console.error("Error mapper ", error);
        return null;
    }
}

type FilterChanges = {
    contractId: string;
    statusSelected: SelectParams;
    contractSelected: SelectParams;
    businessName: string;
    orderBy: OrderByCountEnum | null;
    orderDir: OrderDirEnum | null;
    count: number;
    offset: number;    
}

enum SortAllContracts {
    contractId= "contractId",
    businessName = "businessName",
    contractType = "contractType",
    subscribeDate = "subscribeDate",    
    expiryDate = "expiryDate",
    statusCode = "statusCode"
}

@Component({
    components: {
        NivaTable,
        NivaButton,
        NivaModal,
        NivaInput,
        NivaSelect
    },
    filters: {
        DATE(dt: Date) {
            return dateToString(dt);
        }
    }
})
export default class AllContracts extends Vue {
    paginatedResult: Paginated<Contract> = {
        count: 0,
        offset: 0,
        totalcount: 0,
        records: []
    } as Paginated<Contract>;
    contracts: Contract[] = [];
    types: ContractType[] = [];
    headers: MapHeader[] = this.getHeaders();

    loading = true;
    openModal = false;
    descriptionStatus = statusDescriptionKeys;

    statusOptions: SelectParams[] = [];

    contractOptions: SelectParams[] = [];
    initialRowPerPage = 10;
    initialSelected = {
         id: `${this.initialRowPerPage}`, 
         value: this.initialRowPerPage 
    };
    filterChange: FilterChanges = {
        contractId: "",
        contractSelected: {} as SelectParams,
        statusSelected: {} as SelectParams,
        businessName: "",
        orderBy: null,
        orderDir: null,
        count: this.initialRowPerPage,
        offset: 0
    };

    options = [
        {id: '10', value: 10 },
        {id: '25', value: 25 },
        {id: '100', value: 100 }
    ]

    selected = this.initialSelected
    startRow = 0;

    total = 0;


    get rowsPerPage() {
        return this.selected.value
    }

    get businessName() {
        return this.filterChange.businessName;
    }

    set businessName(value: string) {
        this.filterChange.businessName = value;
    }

    get contractId() {
        return this.filterChange.contractId;
    }

    set contractId(value: string) {
        this.filterChange.contractId = value;
    }

    get contractOptionSelected() {
        return this.filterChange.contractSelected;
    }

    set contractOptionSelected(p: SelectParams) {
        this.filterChange.contractSelected = p;
    }

    get statusOptionSelected() {
        return this.filterChange.statusSelected;
    }

    set statusOptionSelected(p: SelectParams) {
        this.filterChange.statusSelected = p;
    }

    get parties(): Party[] {
        return this.$store.state.parties;
    }

    set parties(parties: Party[]) {
        this.$store.commit("setParties", parties);
    }

    get lower() {
        return Math.round(this.paginatedResult.offset / this.rowsPerPage) + 1;
    }

    get nextEnabled() {
        return this.upperString < this.total
    }

    get backEnabled() {
        return this.lowerString > 1
    }

    get upper() {
        return Math.ceil(this.paginatedResult.totalcount / this.rowsPerPage);
    }

    get lowerString() {
        if (this.paginatedResult.totalcount == 0)
            return 0;

        const page = this.paginatedResult.offset;
        
        return page == 0 ? 1 : page;
    }

    get upperString() {    
        const upper = this.paginatedResult.offset + this.rowsPerPage
        return upper > this.paginatedResult.totalcount ? this.paginatedResult.totalcount : upper
    }

    numberRowChange() {
        this.filterChange.count = this.rowsPerPage
        this.updateContracts();
    }

    next() {
        if (this.nextEnabled) {
            const currentOffset = this.filterChange.offset;
            const nextPage = currentOffset + this.rowsPerPage;

            if (nextPage > this.paginatedResult.totalcount)
                this.filterChange.offset = this.upper;
            else
                this.filterChange.offset = nextPage;


                this.updateContracts();
        }
    }

    back() {
        if (this.backEnabled) {
            const currentOffset = this.filterChange.offset;
            const nextPage = currentOffset - this.rowsPerPage;
            if (nextPage < 0)
                this.filterChange.offset = 0;
            else
                this.filterChange.offset = nextPage;

            this.updateContracts();
        }
    }


    getHeaders(): MapHeader[] {
        return [
            { key: "",
              value: "",
              sort: SortStatus.UNSELECTED,
              class:""
            },
            {
                key: SortAllContracts.contractId,
                value: this.$t("contractId"),
                sort: SortStatus.UNSELECTED,
                class:""
            },
            {
                key: SortAllContracts.businessName,
                value: this.$t("businessName"),
                sort: SortStatus.UNSELECTED,
                class:"w-1/4"
            },
            {
                key: SortAllContracts.contractType,
                value: this.$t("contractType"),
                sort: SortStatus.UNSELECTED,
                class:""
            },
            {
                key: SortAllContracts.subscribeDate,
                value: this.$t("subscribeDate"),
                sort: SortStatus.UNSELECTED,
                class:""
            },
            {
                key: SortAllContracts.expiryDate,
                value: this.$t("expiryDate"),
                sort: SortStatus.UNSELECTED,
                class:""
            },
            {
                key: SortAllContracts.statusCode,
                value:
                    this.$t("statusCode") +
                    " (" +
                    new Date().getFullYear() +
                    ")",
                sort: SortStatus.UNSELECTED,
                class:""
            }
        ];
    }

    isSortedUp(h: MapHeader) {
        if (h.key == "") return false;
        return h.sort == SortStatus.UP;
    }

    isSortedDown(h: MapHeader) {
        if (h.key == "") return false;
        return h.sort == SortStatus.DOWN;
    }

    async mounted() {

        this.types = await ContractTypesResource.getCTypes();
        this.updateContracts();

        this.contractOptions = this.types.map(t => {
            return {
                value: t.id,
                label: t.id
            };
        });

        this.statusOptions = statusKeys.map(t => {
            return {
                value: t,
                label: this.$t(`statusContract.${t}`).toString()
            };
        });

        this.statusOptions.push({
            value: "",
            label: ""
        });

        this.contractOptions.push({
            value: "",
            label: ""
        });

    }

    async updateContracts() {
        try {
            this.loading = true;
            this.paginatedResult = await PAContractsResource.getPaginatedContracts(toDatatableParam(this.filterChange));
            this.contracts = this.paginatedResult.records;
            
            
        } catch (error) {
            console.log("Error update contracts", error);

            this.paginatedResult = {
                count: 10,
                offset: 0,
                totalcount: 0,
                records: []
            } as Paginated<Contract>;
            this.contracts = [];
        }

        this.total = this.paginatedResult.totalcount;
        this.loading = false;
    }

    setSortHead(key: string | null) {
        this.headers.forEach((head: MapHeader) => {
            if (head.key == key) {
                if (head.sort == SortStatus.UP) {
                    head.sort = SortStatus.DOWN;
                } else {
                    head.sort = SortStatus.UP;
                }
            } else {
                head.sort = SortStatus.UNSELECTED;
            }
        });
    }

    async clickHeader(key: string) {
        let orderBy: string | null = key;
        let columnSorted = false;
        switch (key) {
            case SortAllContracts.contractId:
                orderBy = "id";
                this.setSortHead(key);
                columnSorted = true;
                break;
            case SortAllContracts.contractType:
                orderBy = "contractTypeId";
                this.setSortHead(key);
                columnSorted = true;
                break;
            case SortAllContracts.subscribeDate:
                orderBy = "subscribtionDt";
                this.setSortHead(key);
                columnSorted = true;
                break;
            case SortAllContracts.statusCode:
                orderBy = "statusCode";
                this.setSortHead(key);
                columnSorted = true;
                break;
            default:
                orderBy = null;
                this.setSortHead(null);
                columnSorted = false;
                break;
        }
        const k = this.findHeader(key);
        if (k) {
            if (k.sort == SortStatus.UP) {
                this.filterChange.orderDir = "ASC";
            } else {
                this.filterChange.orderDir = "DESC";
            }
        }
        this.filterChange.orderBy = orderBy as OrderByCountEnum;
        if (columnSorted)
            await this.updateContracts();
    }

    async goToDetails(contract: Contract) {
        this.$store.commit("loading", true);
        try {
            const monitoringStatus: ContractMonitoringStatus = await ContractsResource.getMonitoringStatus(
                contract.id
            );
            this.$store.commit("setCurrentAdminContractDetail", {
                type: this.types.find(t => t.id === contract.contractTypeId),
                eligibilityResults: monitoringStatus.eligibilityStatus,
                contract: contract,
                contractMonitoringStatus: monitoringStatus
            });

            this.$router.push({
                name: "AdminContractDetails",
                params: {
                    partyId: contract.partyId,
                    curView: "allContracts",
                    curContract: contract.contractTypeId
                }
            });
        } catch (error) {
            this.$store.commit("loading", false);
        }
    }

    async onContractChange() {
        await this.updateContracts();
    }

    async onStatusCodeChange(value: SelectParams) {
        this.datatableReset();
        this.filterChange.statusSelected.value = value.value;
        await this.updateContracts();
    }

    async onContractType(value: SelectParams) {
        this.datatableReset();
        this.filterChange.contractSelected.value = value.value;
        await this.updateContracts();
    }

    async onBusinessNameChange() {
        this.datatableReset();
        await this.updateContracts();
    }

    datatableReset() {
        this.filterChange.offset = 0;
        this.filterChange.count = this.initialRowPerPage;
        this.selected = this.initialSelected;
    }

    findHeader(key: string | null): MapHeader | undefined {
        return this.headers.find((head: MapHeader) => {
            return head.key == key
        });
    }
}
</script>
