<template>
    <div class="fixed inset-0 h-screen w-screen z-20" @keypress.enter="close">
        <div @click.stop="close" class="opacity-50 bg-black fixed inset-0 h-screen w-screen"></div>
        <div class="center bg-white w-sm rounded shadow-lg w-11/12 h-95">
            <div class="relative px-6 py-4 flex items-center border-b">
                <div class="font-bold text-xl mb-2">{{title}}</div>
                <div class="absolute top-0 right-0 mr-2 mt-2" @click="close">
                    <i class="fas fa-times-circle text-green-900 cursor-pointer"></i>
                </div>
            </div>
            <div class="px-6 py-4 overflow-auto h-80">
                <slot name="body" />
            </div>
            <div class="px-6 overflow-auto">
                <slot name="foot" />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";

@Component
export default class NivaLargeModal extends Vue {
    @Prop() readonly title!: string;

    close() {
        this.$emit("close");
    }
}
</script>

<style scoped>
.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h-80 {
    height: 80%
}

.h-95 {
    height: 95%;
 }
</style>
