<template>
    <div class="w-full bg-transparent">
        <div v-if="label" class="mb-1">
            <label :for="myId">{{ label }}</label>
        </div>
        <div class="flex items-center bg-white border" :class="{'border-green-500': haveFocus}">
            <input
                class="w-full py-1 px-2 focus:outline-none"
                @focus="haveFocus = true"
                @blur="haveFocus = false"
                :type="type"
                :id="myId"
                :placeholder="placeholder"
                v-model="myValue"
            />
            <div class="mx-2">
                <slot name="right" />
            </div>
        </div>
        <div v-if="err" class="text-red-600 text-xs">{{ err }}</div>
    </div>
</template>

<script lang="ts">
import { Vue, Prop, Component } from "vue-property-decorator";

let cnt = 1;

@Component
export default class NivaInput extends Vue {
    @Prop() readonly label!: string;
    @Prop() readonly value!: string;
    @Prop() readonly err!: string | null;
    @Prop() readonly id!: string;
    @Prop({ default: "text" }) readonly type!: string;
    @Prop({ default: "" }) readonly placeholder!: string;

    haveFocus = false;

    private get myId(): string {
        return this.id ? this.id : "_ni" + cnt++;
    }

    private get myValue(): string {
        return this.value;
    }

    private set myValue(val: string) {
        this.$emit("input", val);
    }
}
</script>
