<template>
    <div>
        <ul>
            <li
                class="py-1 flex justify-start"
                v-for="(messages, index) in messageFiltered"
                :key="index"               
            >
                <span> {{ messages.message }}</span>
                <span class="pl-2 cursor-hand">
                    <i
                        @click="openLink(messages.url)"
                        class="fas fa-external-link-alt"
                    ></i
                ></span>
            </li>
        </ul>
        <niva-large-modal
            :title="$t('info')"
            v-if="openModal"
            @close="openModal = false">
            <template #body>
                <div class="overflow-auto full-w-h">
                    <iframe                        
                            :src="currentLink"
                            title="Title"
                            class="full-w-h"
                    ></iframe>
                </div>

            </template>
            <template #foot>
                <div class="flex justify-between">
                    <niva-button @click="openModal = false">{{
                        $t("close")
                    }}</niva-button>
                </div>
            </template>
        </niva-large-modal>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import NivaLargeModal from "@/components/common/NivaLargeModal.vue";
import NivaButton from "@/components/common/NivaButton.vue";
import { EligibilityMessage } from "@/api/models/Contract";
import { dateToString } from "@/utils/compUtils";

@Component({
    components: {
        NivaButton,
        NivaLargeModal
    },
    filters: {
        DATE(dt: Date) {
            return dateToString(dt);
        }
    }
})
export default class NivaElMessages extends Vue {
    @Prop({ default: []}) messageFiltered!: EligibilityMessage[];
    openModal = false;
    currentLink: string | null = null;   
    
    openLink(link: string) {
        link.toString()
        this.currentLink = link;
        this.openModal = true;
    }
}
</script>

<style>
 .full-w-h {
    width: 100%;
    height: 100%;
 }
</style>
