<template>
    <div v-if="anomalies.length > 0">
        <h2 class="font-semibold">{{ $t("anomalies") }}</h2>
        <ul >
            <li
                class="py-1 flex justify-start"
                v-for="(anomalie, index) in anomalies"
                :key="index"               
            >
                <span>{{ anomalie }}</span>                
            </li>
        </ul>
        <hr class="mt-2" />
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class NivaElMessages extends Vue {
    @Prop({ default: []}) anomalies!: string[];
}
</script>

<style>
 .full-w-h {
    width: 100%;
    height: 100%;
 }
</style>
