<template>
    <div class="pb-20">
        <div class="fixed inset-x-0 top-0">
            <div class="relative flex justify-center items-center h-16 bg-green-500 text-green-100">
                <div class="mx-4 absolute left-0">
                    <div class="flex items-center">
                        <img
                            src="../../assets/logo.png"
                            class="h-12 bg-green-200 border border-green-500 rounded-md"
                        />
                        <slot name="left" />
                    </div>
                </div>
                <div>
                    <slot />
                </div>
                <div class="mx-4 absolute right-0">
                    <div class="flex items-center">
                        <slot name="right" />
                        <niva-button class="ml-2" @click="logOut">{{$t('logout')}}</niva-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { LoginResource } from "../../api/LoginResource";
import NivaButton from "@/components/common/NivaButton.vue";

@Component({
    components: {
        NivaButton
    }
})
export default class NivaHeader extends Vue {
    logOut() {
        this.$store.commit("reset", null);
        LoginResource.logOut();
        this.$router.push({ name: "Login" });
    }
}
</script>
