<template>
    <div class="my-5">
        {{ $t("qualityIndex") }} {{ status.qualityIndex }} {{ $t("asComputedBy") }} NIDAS {{ $t("at") }} {{ status.referenceDate | DATE }}
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ContractMonitoringStatus } from "@/api/models/Contract";
import { dateToString } from "@/utils/compUtils";

@Component({
    filters: {
        DATE(dt: Date) {
            return dateToString(dt);
        }
    }
})
export default class NivaElMessages extends Vue {
    @Prop() status!: ContractMonitoringStatus;
}
</script>
