<template>
    <div class="loader-full inset-x-0 top-0">
        <div class="fixed inset-0 flex items-center justify-center bg-black opacity-75">
            <i class="text-green-500 text-6xl fas fa-spinner fa-pulse"/>
        </div>
    </div>
</template>

<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";

@Component
export default class NivaLoader extends Vue {
    @Prop() readonly title!: string;

    close() {
        this.$emit("close");
    }
}
</script>

<style>

    .loader-full {
        position: absolute;
        z-index: 99;
    }
</style>
