<template>
    <div>
        <slot name="options" />
        <table class="w-full table-fixed">
            <thead class="bg-green-300">
                <slot name="headers" />
            </thead>
            <tbody class="bg-white" v-if="items.length > 0">
                <tr v-for="(item, index) in items" :key="index">
                    <slot name="items" :item="checkItem(item)" :index="index" />
                </tr>
            </tbody>
            <tfoot>
                <slot name="footer" />
            </tfoot>
        </table>
    </div>
</template>

<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";

@Component
export default class NivaTable extends Vue {
    /* eslint-disable-next-line @typescript-eslint/no-explicit-any */
    @Prop() readonly items!: any[];

    checkItem(item: any) {
        try {
            return item;
        } catch (error) {
            console.warn("Error", error);
            return "";
        }
    }
}
</script>

<style scoped>
td {
    padding: 0.5rem;
    border-bottom-width: 1px;

}
th {
    padding: 0.5rem;
}
</style>
