<template>
    <div>
        <niva-large-modal 
        :title="$t('printerTitle')"
        @close="close">
            <template #body>
                <div class="overflow-auto full-w-h">
                    <iframe                        
                            :src="value"
                            title="Title"
                            class="full-w-h"
                    ></iframe>
                </div>
            </template>
            <template #foot>
                <div class="flex justify-between">
                    <niva-button @click="close">{{$t("close")}}</niva-button>
                </div>
            </template>
        </niva-large-modal>        
    </div>
</template>

<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";
import NivaLargeModal from "@/components/common/NivaLargeModal.vue"
import NivaButton from "@/components/common/NivaButton.vue"

@Component({
    components: {
        NivaLargeModal,
        NivaButton
    }
})
export default class NivaPdf extends Vue {
    @Prop() readonly value!: string;
    close() { this.$emit("close"); }
}
</script>

<style scoped>

</style>
