<template>
    <button
        class="py-2 px-4 border-2 text-white focus:outline-none hover:border-green-900 active:bg-green-900"
        :class="buttonClass"
        @click="$emit('click')"
    >
        <slot />
    </button>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class NivaButton extends Vue {
    @Prop({ type: Boolean }) readonly tab!: boolean;
    @Prop({ type: Boolean }) readonly selected!: boolean;
    @Prop({ type: Boolean, default: true  }) readonly enabled!: boolean

    get buttonClass() {
        return {
            "rounded-md": !this.tab,
            "font-semibold": !this.tab,
            "bg-green-700": !this.selected && this.enabled,
            "bg-green-900": this.selected && this.enabled,
            "border-green-700": !this.selected && this.enabled,
            "border-green-900": this.selected && this.enabled,
            "focus:border-green-800": !this.tab && this.enabled,
            "bg-gray-700": !this.selected && !this.enabled,
            "bg-gray-900": this.selected && !this.enabled,
            "border-gray-700": !this.selected && !this.enabled,
            "border-gray-900": this.selected && !this.enabled,
            "focus:border-gray-800": !this.tab && !this.enabled
        };
    }
}
</script>