<template>
    <div class="border bg-white">
        <slot name="header" />
        <ul>
            <li v-for="(item,index) in items" :key="index" class="border-b cursor-hand">
                <div class="p-2 hover:bg-green-100 active:bg-green-200" @click="selected(item)">
                    <slot name="items" :item="item" :index="index" />
                </div>
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";

@Component
export default class NivaList extends Vue {
    @Prop() readonly items!: unknown[];

    selected(item: unknown) {
        this.$emit("selected", item);
    }
}
</script>
