<template>
    <div class="m-2">
        <ol class="flex">
            <li v-for="(b,index) in breadcumbs" :key="index">
                <div v-if="!b.noShow" class="flex">
                    <router-link :to="{name: b.link}">
                        <div
                            class="font-medium truncate"
                            :class="b.link ? 'hover:text-green-900' : 'text-green-900 cursor-not-allowed'"
                        >{{b.name}}</div>
                    </router-link>
                    <span class="mx-1" v-if="index < breadcumbs.length - 1">&#8811;</span>
                </div>
            </li>
        </ol>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

interface Breadcumb {
    name: string;
    link?: string;
    noShow?: boolean;
    noI18n?: boolean;
}

@Component
export default class NivaBreadcumbs extends Vue {
    get breadcumbs(): Breadcumb[] {
        const breadcumbsTemp: Breadcumb[] = this.$route.meta.breadcumbs;
        const breadcumbsCopy: Breadcumb[] = [];
        if (breadcumbsTemp) {
            breadcumbsTemp.forEach(b => {
                breadcumbsCopy.push({
                    name: b.name,
                    link: b.link,
                    noI18n: b.noI18n
                });
            });
            breadcumbsCopy.forEach(b => {
                if (b.name.startsWith(":")) {
                    b.name = this.$route.params[b.name.substring(1)];
                }
                if (b.link && b.link.startsWith(":")) {
                    b.link = this.$route.params[b.link.substring(1)];
                }
                if(!b.noI18n){
                    b.name = this.$tc(b.name, 2) as string;
                }
            });
        }
        return breadcumbsCopy;
    }
}
</script>
