<template>
    <div>
        <niva-modal
            :title="$t('err.titleAlert')"
            @close="close"
        >
            <template #body>
                <div>
                    {{ msg }}
                </div>
            </template>
        </niva-modal>
    </div>
</template>

<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";
import NivaModal from "@/components/common/NivaModal.vue";

@Component({
    components: {
        NivaModal
    }
})
export default class NivaLoader extends Vue {
    @Prop() readonly title!: string;
    @Prop({ default: "Generic error" }) readonly msg!: string;

    close() {
        this.$emit("close");
        this.$store.commit("closeUIError")
    }
}
</script>

<style>
.full-over {
    position: absolute;
    z-index: 99;
}
</style>
