<template>
    <div class="w-screen h-screen flex items-center justify-center">
        <div
            class="xs:w-full md:w-1/2 lg:w-1/4 bg-green-200 border border-green-500 font-semibold rounded-md"
        >
            <img src="../../assets/logo.png" class="w-1/2 ml-auto mr-auto" />
            <form class="p-8" @submit.prevent="submit()">
                <niva-input
                    :label="$t('username')"
                    :err="usernameError"
                    v-model="username"
                />
                <niva-input
                    class="mt-4"
                    :label="$t('password')"
                    :err="passwordError"
                    v-model="password"
                    type="password"
                />
                <div class="flex justify-end mt-8">
                    <niva-button>{{ $t("login") }}</niva-button>
                </div>
            </form>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { LoginResource } from "@/api/LoginResource";
import NivaInput from "@/components/common/NivaInput.vue";
import NivaButton from "@/components/common/NivaButton.vue";
import { TranslateResult } from "vue-i18n";

@Component({
    components: {
        NivaInput,
        NivaButton
    }
})
export default class Login extends Vue {
    private username = "";
    private password = "";
    private usernameError: TranslateResult | null = null;
    private passwordError: TranslateResult | null = null;

    mounted() {
        this.tryLoginWithToken();
    }

    private async submit() {
        this.usernameError = this.passwordError = null;

        if (!this.username) {
            this.usernameError = this.$t("err.mandatoryField");
        }
        if (!this.password) {
            this.passwordError = this.$t("err.mandatoryField");
        }

        if (this.usernameError || this.passwordError) {
            return;
        }
        this.doLogin(this.username, this.password);
    }

    async doLogin(username: string, password: string) {
        try {
            const user = await LoginResource.testLogin(username, password);

            if (user.backendUser) this.$router.push({ name: "AdminMenu" });
            else this.$router.push({ name: "SearchRegistry" });
        } catch (e) {
            this.$toasted.show(e, { type: "error" });
            this.$store.commit("error", this.$t("err.commonErrorServer"));
        }
    }

    async doLoginToken(token: string | null) {
        try {
            if (token) {
                const user = await LoginResource.testLoginToken(token);

                if (user.backendUser) 
                    this.$router.push({ name: "AdminMenu" });
                else 
                    this.$router.push({ name: "SearchRegistry" });
            }
  
        } catch (e) {
            this.$toasted.show(e, { type: "error" });
            //this.$store.commit("error", this.$t("err.commonErrorServer"));
        }
    }

    async tryLoginWithToken() {
        try {
            await this.doLoginToken(this.$store.state.token());
        } catch (error) {
            console.log("Error tryLoginWithToken", error);
        }
    }
}
</script>
