<template>
    <div id="app" class="bg-green-100 h-screen overflow-y-auto">
        <router-view  />
    </div>
</template>

<script lang="ts">
import { Component, Vue} from "vue-property-decorator"

@Component
export default class App extends Vue {}
</script>
